.container-fluid{
    overflow: hidden;
}
.container-fluid{
    height: 320%;
}
.container-fluid>.row,.page_container{
    height: 100%;
 }
.page_container{
    background-color: rgba(238,238,238,0.8);
    width: 1170px;
    margin: auto;
    -moz-box-shadow:0px 0px 20px #696969;
    -webkit-box-shadow:0px 0px 20px #696969;
    box-shadow:0px 0px 20px #696969;
}
.page_content{
    position: absolute;
    height: 311%;
    top: 9%;
    width: 1170px;
}

/*导航栏css*/
#myNav2{
    height: 9%;
    width: 1170px;
    z-index: 100;
    position: fixed;
    background-color:black;
}
#myNav2 ul{
    margin-right: 20px;
}
.home_log{
    float: left;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    font-family: "Adobe Arabic";
    color: whitesmoke;
}
#myNav2>.input-group{
    width: 30%;
    float: left;
    margin-top: 10px;
}
#myNav2>ul>li{
    float: right;
    font-size: 20px;
    margin: 10px;
}
#myNav2 ul a{
    color: #737373;
}
#myNav2 ul a:hover{
    color: white;
}



/*左菜单栏css*/
.left_menu{
    /* 父容器设置宽度, 并超出部分不显示,用于隐藏滚动条 */
    text-align: center;
    width: 220px;
    height: 91%;
    position: fixed !important;
    background-color:#f8f8f8;
    overflow: hidden;
}
.left_menu>.scroll_info{
    /* 子容器比父容器的宽度多 17 px, 经测正好是滚动条的默认宽度 */
    width: 237px;
    height: 92%;
    overflow-y: scroll;
}

.bottom_info{
    width: 220px;
    height: 40px;
    position: absolute;
    bottom: 5px;
}
.bottom_info>.col-md-4{
    color: #737373;
}

.user_header .circle{
    width: 130px;
    height: 130px;
    margin-top: 20px;
}
.user_header{
    border-bottom: white 2px solid;
}
.left_menu_nav ul li{
    text-align: left;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
}
.left_menu_nav i{
    margin-right: 12px;
}
.left_menu_nav .fa-angle-right,.left_menu_nav .fa-angle-down{
    font-size: 18px;
    float: right;
    padding: auto 10px;
}
.left_menu_nav a{
    color: #737373;
}
.left_menu_nav li:hover{
    color: #737373;
    background-color: rgba(125,125,125,0.3);
}
.left_menu_nav p{
    text-align: left;
    margin: 10px 30px;
}

/*显示博客区域css*/
.blog_content{
    position: absolute !important;
    margin-left: 220px;
    width: 710px;
    height: calc(100% - 50px);
}
/*富文本编辑器css*/
.myeditor{
    background-color: white;
    border: 1px solid #ccc;
    display: none;
}
#editor_title{
    width: 680px;
    margin: 10px 15px;
}
#editor_submit{
    opacity: 0.5;
    font-size: 20px;
    position: absolute;
    right: 40px;
}
#editor_submit:hover{
    opacity: 1;
    color: black;
}
.toolbar{
    margin: 5px auto;
    width: 590px;
}
/*#editor_area{
    margin: 50px auto 0px auto;
    border: 1px solid #ccc;
    height: 100px;
    width: 680px;
}
.emoji_btn{
    width: 20px;
    height: 20px;
    z-index: 98 !important;
}
.emoji_container,.w-e-menu,.w-e-droplist *{
    z-index: 98 !important;
}*/

/*板块信息*/
.plate{
    height: 300px;
    width: 100%;
    background-size: cover;
}
.plateinfo{
    height: 300px;
    width: 100%;
    position: absolute;
    color:  white;
}
.plateinfo>h1{
    margin: 50px;
}
.plateinfo>ul{
    margin-right: 30px;
}
.plateinfo>ul p{
    margin-top: 20px;
    font-size: 20px;
}
.plateinfo li{
    text-align: center;
    float: right;
    padding: 10px;
}
.plate>.blurfilter{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.51);
}
.blog_option{
    background-color: white;
    margin:10px auto;
    height: 48px;
    border: 1px solid #ccc;
}
.blog_option .mybtn_active{
    line-height: normal;
}
.blog_option>ul>li{
    display: block;
    padding: 13px 20px;
    float: left;
}
.blog_option .input-group{
    float: right;
    padding: 6px;
    width: 200px;
    z-index: 0 !important;
}
.blog_item{
    margin: 20px;
    background-color: white;
    padding: 30px;
}

.blog_item .circle{
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 30px;
}
.bloggerhead:hover~.bloggerinfo {
    display: block;
}
.bloggerinfo:hover{
    display: block;
}
.blog_content .paint-area{
    overflow: visible !important;
}
.bloggerinfo{
    z-index: 11;
    position: absolute;
    margin-top: -208px;
    margin-left:-100px;
    display: none;
    width: 350px;
    height: 200px;
    background-color: white;
    -moz-box-shadow:0px 0px 3px #333333;
    -webkit-box-shadow:0px 0px 3px #333333;
    box-shadow:0px 0px 3px #333333;
    text-align: center;
}
.bloggerinfo .circle{
    float: none;
    top: 10px;
    margin: 0px;
}
.bloggerinfo>div{
    background-size: cover;
    width: 350px;
    height: 120px;
    color: white;
}
.bloggerinfo p{
    line-height: 15px;
}
.bloggerinfo p:nth-child(2){
    margin-top: 20px;
}
.bloggerinfo>ul{
    display:inline-block;
    text-align: center;
    top: 5px;
}
.bloggerinfo>ul>li{
    float: left;
    margin-right: 5px;
}
.bloggerinfo>ul p{
    color: #b6b6b6;
}
.bloggerinfo>.btn{
    position: absolute;
    top: 160px;
}
.bloggerinfo>.btn-default{
    left: 110px;
}
.bloggerinfo>.btn-danger{
    left: 180px;
}
.bloggerinfo .nav-arrow-down{
    position: absolute;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-style: solid;
}
.black-arrow{
     left: 116px;
     top: 201px;
     border-width: 8px 8px 0px 8px;
     border-color: #b6b6b6 transparent;
 }
.white-arrow{
    left: 117px;
    top: 200px;
    border-width: 7px 7px 0px 7px;
    border-color: white transparent;
}
.blog_item h3{
    float: left;
    margin: 0px;
}
.blog_item>p{
    margin-top: 40px;
    color: #737373;
    line-height: 30px;
}
.blog_item .fa-chevron-down{
    float: right;
    color: #737373;
}
.blog_item_info{
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 0px;
    padding-top: 10px;
}
.blog_item_info>a{
    margin-right: 20px;
    color: #737373;
}
.pagenav{
    width: 100%;
    text-align: center;
}
.pagenav .disabled>a:hover, .pagenav .disabled>a *:hover{
    cursor: not-allowed !important;
}
/*右侧导航栏*/
.right_nav{
    background-color: white;
    height: calc(100% - 50px);
    margin-left: 930px;
    position: absolute;
    width: 240px;
}
.right_nav>.col-md-4{
    color: #737373;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.right_nav h4{
    color: #6a6a6a;
}
.mybtn_active{
    border-bottom: 1px solid black !important;
}
.blog_nav_item{
    padding: 15px 20px;
}
.blog_nav_item>.row{
    margin-top: 20px;
}
.blog_nav_item .col-md-3{
    padding: 0px !important;
    text-align: center;
}
.blog_nav_item .circle{
    height: 40px;
    width: 40px;
}
.blog_nav_item .col-md-9{
    padding-right: 0px;
    color: #737373;
}
.blog_nav_item small{
    margin-left: 5px;
}
.myblog_count{
    margin-top: 30px;
}
.myblog_count>.btn-group-vertical{
    width: 100%;
}
.btn-group-vertical>button{
    color: #737373;
    padding: 10px 20px;
}
.myblog_count i{
    float: left;
}
.btn-group-vertical .badge{
    background-color: #7e7e7e;
    float: right;
}
.blogtags{
    margin-top: 40px;
}
.blogtags>.label-default{
    line-height: 30px;
}

/*底部信息栏*/
.footer_info{
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0px;
    height: 50px;
    margin-left: 220px;
    width: 950px;
    background-color: #edf1f2;
    color: #6c6c6c;
    font-family: 黑体;
    padding: 15px;
}
.footer_info>p:nth-child(1){
    float: left;
}
.footer_info>p:nth-child(2){
    float: right;
}


/*
*blogEdit CSS
 */
.contentedit{
    background-color: white;
    border: 1px solid #ccc;
}
.contentedit>label{
    margin: 50px 0px 0px 15px;
}

.plate_radio{
    margin: 15px;
    text-align: center;
}
.plate_radio>h4{
    text-align: left;
}
#editor_area {
    margin: 0px auto;
    border: 1px solid #ccc;
    min-height: 400px;
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% - 40px);
}
#editor_area .w-e-text{
    width: calc(100% + 17px) !important;
    overflow-x: hidden;
    padding: 0px 30px;
}
.emoji_btn{
    left: 30px;
    width: 20px;
    height: 20px;
    z-index: 98 !important;
}
.emoji_container,.w-e-menu,.w-e-droplist *{
    z-index: 98 !important;
}
/*
*blogEdit CSS END
 */

/**
* blogInfo CSS
*/
#info_title{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e1e3e0;
    width: 100%;
    padding: 10px 30px;
}
#info_title .info_blogger{
    float: right;
    display: flex;
}
.info_blogger>a{
    margin: auto 20px auto 0px;
}
.info_blogger img{
    float: left;
    width: 60px;
    height: 60px;
}
.info_blogger div{
    float: right;
    text-align: center;
}
#info_title>ul{
    display: inline;
    margin: 10px;
}
#info_title>ul>li{
    float: left;
    margin-right: 20px;
    color: #737373;
}
#info_nav{
    margin: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e1e3e0;
    padding: 10px 20px;
}
#info_nav>ul{
    display: inline;
    margin: 10px;
}
#info_nav>ul:nth-child(1)>li{
    float: left;
    color: #737373;
    margin-right: 10px;
}
#info_nav>ul:nth-child(2)>li{
    float: right;
    color: #737373;
    margin-left: 10px;
}
#info_content,#info_comment{
    margin: 20px;
    padding: 30px 30px;
    background-color: white;
    border: 1px solid #e1e3e0;
}
#info_content .info_tags{
    margin: 20px;
    border-top: 1px solid #8e908d;
}
.info_tags>span{
    margin-right: 5px;
}
.info_footer{
    margin-top: 50px;
    height: 18px;
    font-size: 12px;
}
.info_footer>a:nth-child(1){
    float: left;
    color: #737373;
}
.info_footer>a:nth-child(2){
    float: right;
    color: #737373;
}
#info_content:hover,#info_comment:hover{
    -moz-box-shadow:2px 2px 3px #949494;
    -webkit-box-shadow:2px 2px 3px #949494;
    box-shadow:2px 2px 3px #949494;
}
.comment_edit{
    margin-top: 20px;
    margin-bottom: 60px;
}
.comment_item .comment_edit{
    margin-right: 20px;
    margin-left: 20px;
}
.comment_edit>img{
    float: left;
    margin-right: 10px;
}
.comment_edit>.comment_emoji{
    margin-left: 70px;
}
.comment_edit>.btn-success{
    float: right;
}
.comment_edit textarea{
    margin-bottom: 10px;
    width: calc(100% - 50px);
    height: 40px;
    resize: none;
    transition: height 0.5s;
    -moz-transition: height 0.5s;	/* Firefox 4 */
    -webkit-transition: height 0.5s;	/* Safari 和 Chrome */
    -o-transition: height 0.5s;
}
/*.comment_edit>textarea:focus{
    height: 100px;
}*/
#info_comment>.comment_item,.comment_item>.col-md-11>.col-md-12{
    padding: 10px 0px;
    border-top: 1px solid #e1e3e0;
}
.comment_item>.col-md-11>.row{
    margin-bottom: 10px;
}
.comment_item>.col-md-11>.col-md-12{
    background-color: #f8f8f8;
}
#info_comment b{
    display: block;
}
#info_comment small{
    float: left;
}
#info_comment ul>li{
    float: right;
    margin-left: 10px;
}
#info_comment .circle{
    width: 40px;
    height: 40px;
}
#info_btns{
    position: fixed;
    margin-left: 950px;
    z-index: 11;
    top: 300px;
}
#info_btns a{
    background-color: white;
    display: flex;
    padding: 20px 10px;
    border: 1px solid #e1e3e0;
    text-align: center;
}
#info_btns a>i{
    margin: auto;
}