* {margin: 0px;padding: 0px;}
a {text-decoration: none !important;color: black;}
a,a *{cursor: pointer !important;}
ul,ol,li{list-style-type:none;}
html,body{height: 100%;}
.circle {border: 1px solid black;border-radius: 50%;}