<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhs.musiclab.dao.BlogMapper">
    <select id="list" resultType="Blog">
        SELECT * FROM blog
    </select>

    <select id="listByPlate" resultType="Blog">
        SELECT * FROM blog where plate = #{plate}
    </select>
    <select id="get" resultType="Blog">
        SELECT * FROM blog
        <where>
            <if test="bid!=null and bid!=''">
                and bid like concat(%,#{bid})
            </if>
            <if test="title!=null and title!=''">
                and title like concat(%,#{title})
            </if>
            <if test="plate!=null and plate!=0">
                and plate =#{plate}
            </if>
            <if test="uid!=null and uid!=''">
                and uid =#{uid}
            </if>
        </where>
    </select>
</mapper>