<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhs.musiclab.dao.BlogMapper">
    <resultMap id="blogItem" type="BlogItem">
        <association property="blog" javaType="Blog">
            <id column="bid" property="bid"></id>
            <result column="title" property="title"></result>
            <result column="content" property="content"></result>
            <result column="blogged_time" property="blogged_time"></result>
            <result column="uid" property="uid"></result>
        </association>
        <association property="blogCount" javaType="BlogCount">
            <id column="bid" property="bid"></id>
            <result column="revised_time" property="revised_time"></result>
            <result column="views" property="views"></result>
            <result column="likes" property="likes"></result>
            <result column="comments" property="comments"></result>
            <result column="status" property="status"></result>
        </association>
        <association property="mLabUser" javaType="MLabUser">
            <id column="uid" property="uid"></id>
            <result column="name" property="name"></result>
            <result column="head_img" property="head_img"></result>
        </association>
    </resultMap>

    <select id="countBlogsByUid" resultType="Integer">
        select count(1) from blog where uid=#{uid}
    </select>

    <select id="countBlogsByPlate" resultType="Integer">
        select count(1) from blog where plate=#{plate}
    </select>

    <select id="listForBlogItem" resultMap="blogItem">
        SELECT b.*,bc.comments,bc.likes,bc.revised_time,bc.status,bc.views,m.name,m.head_img
        FROM blog b JOIN blogcount bc on b.bid=bc.bid JOIN mlabuser m ON b.uid=m.uid
        limit 0,100
    </select>

    <select id="get" resultMap="blogItem">
        SELECT b.*,bc.comments,bc.likes,bc.revised_time,bc.status,bc.views,m.name,m.head_img
        FROM blog b JOIN blogcount bc on b.bid=bc.bid JOIN mlabuser m ON b.uid=m.uid
        <where>
            <if test="bid!=null and bid!=''">
                and b.bid=#{bid}
            </if>
            <if test="title!=null and title!=''">
                and title like concat('',#{title},'%')
            </if>
            <if test="plate!=null and plate!=0">
                and plate =#{plate}
            </if>
            <if test="uid!=null and uid!=''">
                and b.uid =#{uid}
            </if>
        </where>
        ORDER BY b.blogged_time DESC
    </select>

    <update id="update" parameterType="Blog">
        update blog
        <set>
            <if test="title!=null and title!=''">
                title=#{title},
            </if>
            <if test="content!=null and content!=''">
                content=#{content},
            </if>
        </set>
        where bid=#{bid}
    </update>

    <insert id="add" parameterType="Blog">
        insert into blog(bid, title, content, blogged_time,plate, uid)
        values (#{bid},#{title},#{content},#{blogged_time},#{plate},#{uid})
    </insert>
</mapper>