<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhs.musiclab.dao.MLabUserMapper">
    <select id="list" resultType="MLabUser">
        SELECT * FROM mlabuser
    </select>
    <select id="get" resultType="MLabUser">
        select * from mlabuser where uid = #{id}
    </select>
</mapper>