<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhs.musiclab.dao.TagMapper">

    <select id="list" resultType="Tag">
        SELECT * FROM tag
        <if test="_parameter!=null and _parameter!=''">
            where tid in (SELECT tid from blog_tag where bid = #{bid})
        </if>
    </select>
    <select id="listByLimit" resultType="Tag">
        SELECT * FROM tag ORDER BY heat DESC limit #{start},#{size}
    </select>
    <select id="get" resultType="Tag">
        SELECT * FROM tag
        <where>
            <if test="name!=null and name !=''">
                and name=#{name}
            </if>
            <if test="tid!=null and tid!=''">
                and tid=#{tid}
            </if>
        </where>
    </select>

    <update id="update">
        update tag set heat = #{heat} where tid = #{tid}
    </update>

    <insert id="add" parameterType="Tag">
        insert into tag(tid, name) VALUES(#{tid},#{name})
    </insert>
</mapper>