<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="total_package"></div>
    <link rel="stylesheet" th:href="@{/plugins/jquery/css/jquery.mCustomScrollbar.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/jqueryemoji/css/jquery.emoji.css}"/>
    <link th:href="@{/custom/css/blog_index.css}" rel="stylesheet">
    <script th:src="@{/plugins/wangEditor/js/wangEditor.min.js}"></script>
    <script th:src="@{/plugins/jquery/js/jquery.mCustomScrollbar.min.js}"></script>
    <script th:src="@{/plugins/jqueryemoji/js/jquery.emoji.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="page_container">
            <!--导航栏-->
            <div th:replace="nav::myNav2"></div>
<!--            页面内容-->
            <div class="page_content">
<!--                左菜单栏-->
                <div class="left_menu">
                    <div class="scroll_info">
                        <div class="user_header">
                            <img class="circle" th:src="@{/image/ballad.jpg}">
                            <h4>
                                <a><b>林桦升<i class="fa fa-caret-down"></i></b></a>
                                <br/><small>哈哈哈啊哈</small>
                            </h4>
                        </div>
                        <div class="left_menu_nav">
                            <p>导航</p>
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-home"></i>首页</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-music"></i>音乐播放</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-image"></i>我的相册</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i>我的收藏</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>我的赞</a></li>
                            </ul>
                        </div>
                        <div class="left_menu_nav">
                            <P>组成</P>
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-comments"></i>板块<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-file"></i>页面<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-link"></i>友链<i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="col-md-4"><i class="fa fa-gears"></i><br/>管理</div>
                        <div class="col-md-4"><i class="fa fa-commenting"></i><br/>评论</div>
                        <div class="col-md-4"><i class="fa fa-share"></i><br/>分享</div>
                    </div>
                </div>
<!--                博客显示板块-->
                <div class="blog_content">
                    <div class="myeditor">
                        <div id="editor_area">
                            <p>这里可以写下自己的心情 <br/><b>--MusicLab</b></p>
                        </div>
                        <div id="toolbar" class="toolbar"></div>
                    </div>
                    <div class="blog_option">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="搜索">
                            <span class="input-group-addon">
                                <a><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                        <ul>
                            <li>原创</li>
                            <li>视频</li>
                            <li>图片</li>
                            <li>音乐</li>
                        </ul>
                    </div>
                    <div class="blog_item">
                        <img th:src="@{/image/ballad.jpg}" class="circle">
                    </div>
                </div>
<!--                右菜单栏-->
                <div class="right_nav">
                    <div>hello</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/custom/js/blog_index.js}"></script>
</body>

</html>