<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:replace="total_package"></title>
    <link href="../static/plugins/jquery/css/jquery.mCustomScrollbar.min.css"
            th:href="@{/plugins/jquery/css/jquery.mCustomScrollbar.min.css}" rel="stylesheet" />
    <link href="../static/plugins/jqueryemoji/css/jquery.emoji.css"
            th:href="@{/plugins/jqueryemoji/css/jquery.emoji.css}" rel="stylesheet"/>
    <link href="../static/plugins/dragcolor/css/demo.css"
            th:href="@{/plugins/dragcolor/css/demo.css}" rel="stylesheet"/>
    <link href="../static/custom/css/blog_index.css"
            th:href="@{/custom/css/blog_index.css}"rel="stylesheet"/>

    <script src="../static/plugins/wangEditor/js/xxs.js"
            th:src="@{/plugins/wangEditor/js/xxs.js}"></script>
    <script src="../static/plugins/wangEditor/js/wangEditor.min.js"
            th:src="@{/plugins/wangEditor/js/wangEditor.min.js}"></script>
    <script src="../static/plugins/jquery/js/jquery.mCustomScrollbar.min.js"
            th:src="@{/plugins/jquery/js/jquery.mCustomScrollbar.min.js}"></script>
    <script src="../static/plugins/jqueryemoji/js/jquery.emoji.min.js"
            th:src="@{/plugins/jqueryemoji/js/jquery.emoji.min.js}"></script>
    <script src="../static/custom/js/blog_index.js"
            th:src="@{/custom/js/blog_index.js}"></script>
</head>
<body>
<div class="container-fluid" th:style="'background-image:url('+${plateimg}+')'">
    <div class="row">
        <div class="page_container">
            <!--导航栏-->
            <div th:replace="nav::myNav2"></div>
<!--            页面内容-->
            <div class="page_content">
<!--                左菜单栏-->
                <div class="left_menu paint-area">
                    <div class="scroll_info">
                        <div class="user_header">
                            <a>
                                <img th:if="${session.headImg} eq 'default'" class="circle" th:src="@{/image/defaulthead.jpg}">
                                <img th:if="${session.headImg} ne 'default'" class="circle" th:src="@{${session.headImg}}">
                            </a>
                            <h4>
                                <a><b th:text="${session.userName}"></b><i class="fa fa-caret-down"></i></a>
                                <br/><small>{{moodsign}}</small>
                            </h4>
                        </div>
                        <div class="left_menu_nav">
                            <p>导航</p>
                            <ul>
                                <li><a th:href="@{/index}" href="javascript:void(0)"><i class="fa fa-home"></i>首页</a></li>
                                <li><a href="music_index.html" th:href="@{/musicIndex}"><i class="fa fa-music"></i>音乐播放</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-image"></i>我的相册</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i>我的收藏</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>我的赞</a></li>
                            </ul>
                        </div>
                        <div class="left_menu_nav">
                            <P>组成</P>
                            <ul>
                                <li @click="plates=!plates">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-comments"></i>板块
                                        <i class="fa" :class="[plates?'fa-angle-down':'fa-angle-right']"></i>
                                    </a>
                                </li>
                                <div v-if="plates">
                                    <li th:style="'background-color: rgba('+'125,125,125,0.3)'">
                                        <a href="javascript:void(0)" th:text="${plateName}"></a>
                                        <span class="badge">0</span>
                                    </li>
                                    <li th:if="${p.value ne plateName}" th:each="p:${plates}">
                                        <a href="javascript:void(0)" th:href="@{'/blog/'+${p.index}}" th:text="${p.value}"></a>
                                        <span class="badge">0</span>
                                    </li>
                                </div>
                                <li><a href="javascript:void(0)"><i class="fa fa-heart"></i>动态<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-users"></i>好友<i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="col-md-4"><i class="fa fa-gears"></i><br/>管理</div>
                        <div class="col-md-4"><i class="fa fa-commenting"></i><br/>评论</div>
                        <div class="col-md-4"><i class="fa fa-share"></i><br/>分享</div>
                    </div>
                </div>
<!--                博客显示板块-->
                <div class="blog_content">
<!--                    文本编辑区-->
<!--                    <div class="myeditor">
                        <div id="editor_area">
                            <p>这里可以写下自己的心情</p>
                            <p><b>&#45;&#45;MusicLab</b></p>
                        </div>
                        <div id="toolbar" class="toolbar">
                            <a id="editor_submit" href="javascript:void (0)">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                    </div>-->
                    <keep-alive>
                        <blog-content v-if="blogContent=='index'" :blogpage="blogpage"></blog-content>
                        <blog-info v-else-if="blogContent=='info'" :bloginfo="bloginfo"></blog-info>
                        <blog-edit v-else-if="blogContent=='edit'"></blog-edit>
                    </keep-alive>
                </div>
<!--                右菜单栏-->
                <div class="right_nav paint-area">
                    <div>
                        <div class="col-md-4 paint-area mybtn_active"><i class="fa fa-fire"></i></div>
                        <div class="col-md-4 paint-area"><i class="fa fa-feed"></i></div>
                        <div class="col-md-4 paint-area"><i class="fa fa-random"></i></div>
                        <div class="blog_nav_item col-md-12">
                            <h4>热门博客</h4>
                            <hotblog-item v-for="hotblog in hotblogs" :hotblog="hotblog" :key="hotblog.bid"></hotblog-item>
                        </div>
                        <div class="myblog_count col-md-12">
                            <h4>我的博客</h4>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-default paint-area"><i class="fa fa-file">  博客数目</i><span class="badge">0</span></button>
                                <button type="button" class="btn btn-default paint-area"><i class="fa fa-comment">  评论数目</i><span class="badge">0</span></button>
                                <button type="button" class="btn btn-default paint-area"><i class="fa fa-registered">  注册天数</i><span class="badge">3年21天</span></button>
                                <button type="button" class="btn btn-default paint-area"><i class="fa fa-desktop">  最近登陆</i><span class="badge">3天前</span></button>
                            </div>
                        </div>
    <!--                    TODO:这里放一个小的随机播放器-->
                        <div class="blogtags col-md-12">
                            <h4>板块下的标签</h4>
                            <span class="label label-default">乱七八糟</span>
                            <span class="label label-default">label label-default</span>
                            <span class="label label-default">乱七八糟</span>
                            <span class="label label-default">乱七七八八糟</span>
                            <span class="label label-default">乱七八糟</span>
                            <span class="label label-default">乱七七八八糟</span>
                            <span class="label label-default">乱七八糟</span>
                            <span class="label label-default">乱七八七八糟</span>
                        </div>
                    </div>
                </div>
                <div class="footer_info paint-area">
                    <p>© 2019 Copyright BY LinHuaSheng</p>
                    <p>备案: 粤ICP备18046160号 Powered by LinHuaSheng | Theme by LinHuaSheng</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--油画工具-->
<div class="customizer fade">
    <ul class="color-tool">
        <li class="color-1"><div class="drag-element" data-color="#333"><div class="drop color-1"></div><i class="drop-helper-1 color-1"></i><i class="drop-helper-2 color-1"></i><i class="drop-helper-3 color-1"></i><i class="drop-helper-4 color-1"></i></div></li>
        <li class="color-2"><div class="drag-element" data-color="#f0f0f0"><div class="drop color-2"></div><i class="drop-helper-1 color-2"></i><i class="drop-helper-2 color-2"></i><i class="drop-helper-3 color-2"></i><i class="drop-helper-4 color-2"></i></div></li>
        <li class="color-3"><div class="drag-element" data-color="#c0c3d5"><div class="drop color-3"></div><i class="drop-helper-1 color-3"></i><i class="drop-helper-2 color-3"></i><i class="drop-helper-3 color-3"></i><i class="drop-helper-4 color-3"></i></div></li>
        <li class="color-4"><div class="drag-element" data-color="#5FA1E0"><div class="drop color-4"></div><i class="drop-helper-1 color-4"></i><i class="drop-helper-2 color-4"></i><i class="drop-helper-3 color-4"></i><i class="drop-helper-4 color-4"></i></div></li>
        <li class="color-5"><div class="drag-element" data-color="#C1D5C0"><div class="drop color-5"></div><i class="drop-helper-1 color-5"></i><i class="drop-helper-2 color-5"></i><i class="drop-helper-3 color-5"></i><i class="drop-helper-4 color-5"></i></div></li>
        <li class="color-6"><div class="drag-element" data-color="#47AE73"><div class="drop color-6"></div><i class="drop-helper-1 color-6"></i><i class="drop-helper-2 color-6"></i><i class="drop-helper-3 color-6"></i><i class="drop-helper-4 color-6"></i></div></li>
        <li class="color-7"><div class="drag-element" data-color="#EAE7C4"><div class="drop color-7"></div><i class="drop-helper-1 color-7"></i><i class="drop-helper-2 color-7"></i><i class="drop-helper-3 color-7"></i><i class="drop-helper-4 color-7"></i></div></li>
        <li class="color-8"><div class="drag-element" data-color="#FB6964"><div class="drop color-8"></div><i class="drop-helper-1 color-8"></i><i class="drop-helper-2 color-8"></i><i class="drop-helper-3 color-8"></i><i class="drop-helper-4 color-8"></i></div></li>
        <li><button class="reset-button" title="Reser colors">Reset colors</button></li>
    </ul>
</div>
<template id="blog_item" >
    <div class="blog_item paint-area">
        <a class="bloggerhead">
            <img v-if="blog.mLabUser.head_img =='default'" th:src="@{/image/defaulthead.jpg}" class="circle">
            <img v-else :src="blog.mLabUser.head_img" class="circle">
        </a>
        <div class="bloggerinfo">
            <div th:style="'background-image:url(/image/jazz.jpg)'">
                <a>
                    <img v-if="blog.mLabUser.head_img =='default'" th:src="@{/image/defaulthead.jpg}" class="circle">
                    <img v-else :src="blog.mLabUser.head_img" class="circle">
                </a>
                <p>{{blog.mLabUser.name}}</p>
                <P>签名：什么都没有</P>
            </div>
            <ul>
                <li><a><b>关注0</b></a></li>
                <li><p>|</p></li>
                <li><a><b>粉丝0</b></a></li>
                <li><p>|</p></li>
                <li><a><b>博客0</b></a></li>
            </ul>
            <a class="btn btn-default">关注</a>
            <a class="btn btn-danger">拉黑</a>
            <i class="nav-arrow-down black-arrow"></i>
            <i class="nav-arrow-down white-arrow"></i>
        </div>
        <a class="titlelink" @click="toInfo(blog)"><h3 class="paint-area paint-area--text">{{blog.title}}</h3></a>
        <a href="javascript:void(0)"><i class="fa fa-chevron-down"></i></a>
        <p class="paint-area paint-area--text">{{blog.content|getSimpleText}}…</p>
        <div class="blog_item_info">
            <a class="blog_time" href="javascript:void(0)"><i class="fa fa-clock-o"></i>{{blog.blogged_time | dateformat}}</a>
            <a class="blog_star" href="javascript:void(0)"><i class="fa fa-star"></i>收藏</a>
            <a class="blog_likes" href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>{{blog.likes}}</a>
            <!--                                    TODO:转发量-->
            <!--<a class="blog_external" href="javascript:void(0)"><i class="fa fa-external-link"></i>0</a>-->
            <a class="blog_views" href="javascript:void(0)"><i class="fa fa-eye"></i>{{blog.views}}</a>
            <a class="blog_comments" href="javascript:void(0)"><i class="fa fa-commenting"></i>{{blog.comments}}</a>
        </div>
    </div>
</template>
<template id="hotblog">
    <div class="row">
        <div class="col-md-3">
            <a>
                <img v-if="hotblog.mLabUser.head_img =='default'" th:src="@{/image/defaulthead.jpg}" class="circle">
                <img v-else :src="hotblog.mLabUser.head_img" class="circle">
                <b>{{hotblog.mLabUser.name}}</b>
            </a>
        </div>
        <div class="col-md-9">
            <a @click.prevent="toInfo(hotblog)">
                <p class="paint-area paint-area--text">{{hotblog.title}}</p>
            </a>
            <i class="fa fa-eye"></i><small>{{hotblog.likes}}</small>
        </div>
    </div>
</template>
<template id="blog_content">
    <div>
        <!--                    板块信息-->
        <div class="plate" th:style="'background-image:url('+${plateimg}+')'">
            <div class="plateinfo">
                <h1 th:text="${plateName}">{{plateName}}</h1>
                <ul>
                    <li><h3>0</h3>博客</li>
                    <li><p>|</p></li>
                    <li><h3>0</h3>评论</li>
                    <li><p>|</p></li>
                    <li><h3>0</h3>新鲜事</li>
                </ul>
            </div>
            <div class="blurfilter"></div>
        </div>
        <div id="paint_blog" class="paint-area">
            <div class="blog_option paint-area">
                <div class="input-group">
                    <input @keyup.enter="plateSearch" v-model="plateKey" type="text" class="form-control" placeholder="搜索">
                    <span @click="plateSearch" class="input-group-addon">
                        <a id="plate_search" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                    </span>
                </div>
                <ul>
                    <li class="mybtn_active"><a>全部</a></li>
                    <li><a>原创</a></li>
                    <li><a>视频</a></li>
                    <li><a>图片</a></li>
                    <li><a>音乐</a></li>
                </ul>
            </div>
            <blog-item v-for="blog in blogpage.list" :blog="blog" :key="blog.bid"></blog-item>
            <div class="pagenav">
                <ul class="pagination">
                    <li :class="{disabled:banBackward}">
                        <a @click.prevent="forwardTo(blogpage.pageNum-1)">
                            <span><i class="fa fa-angle-double-left"></i></span>
                        </a>
                    </li>
                    <li v-if="prePages != ''">
                        <li v-for="num in prePages"><a @click.prevent="forwardTo(num)" href="#">{{num}}</a></li>
                    </li>
                    <li class="active"><a @click.prevent href="#">{{blogpage.pageNum}}</a></li>
                    <li v-if="afterPages != ''">
                        <li v-for="num in afterPages"><a @click.prevent="forwardTo(num)" href="#">{{num}}</a></li>
                    </li>
                    <li :class="{disabled:banForward}">
                        <a @click.prevent="forwardTo(blogpage.pageNum+1)">
                            <span><i class="fa fa-angle-double-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<template id="blog_edit">
    <div class="contentedit">
        <label for="editor_title" class="control-label"><h3>标题<small>*</small></h3></label>
        <input v-model="title" @blur="checkTitle" class="form-control" id="editor_title" type="text"
               placeholder="标题长度最多为20个中文,40个非中文字符">
        <div class="plate_radio">
            <h4>板块<small>*</small></h4>
            <label class="control-label" th:each="p,status:${plates}">
                <input v-model="plate" type="radio" th:value="${status.count}" >
                [[${p.value}]]
            </label>
        </div>
        <div class="edit_tags">
            <h4>标签</h4>
            <div class="info_tags">
                <a v-for="(tag,index) in tags" @click="deleteTag(index)"><span class="label label-default">{{tag}}<i class="fa fa-times"></i></span></a>
            </div>
            <input @blur="checkTag" v-model="tagval" class="form-control"  id="editor_tags" type="text" placeholder="标签长度最多为10个中文,20个非中文字符">
            <a @click="addTag" class="tagadd_Btn"><i class="fa fa-plus-circle"></i></a>
            <label><h4>内容<small>*</small></h4></label>
        </div>
        <div id="editor_area">
            <p>这里可以写下自己的博客</p>
            <p><b>--MusicLab</b></p>
        </div>
        <div id="toolbar" class="toolbar">
            <input type="image" id="emojibtn" class="emoji_btn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZBAMAAAA2x5hQAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURUxpcfTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAOfx6yUAAAALdFJOUwAzbVQOoYrzwdwkAoU+0gAAAM1JREFUGNN9kK0PQWEUxl8fM24iCYopwi0muuVuzGyKwATFZpJIU01RUG/RBMnHxfz+Oef9uNM84d1+23nO+zxHKVG2WWupRJkdcAwtpCK0lpbqWE01pB0QayonREMoIp7AawQrWSgGGb4pn6dSeSh68FAVXqHqy3wKrkJiDGDTg3dnp//w+WnwlwIOJauF+C7sXRVfdha4O4oIJfTbtdSxs2uqhs585A0ko8iLTMEcDE1n65A+29pYAlr72nz9dKu7GuNTcsL2fDQzB/wCPVJ69nZGb3gAAAAASUVORK5CYII=">
            <a id="editor_submit" @click="submitBlog" href="javascript:void (0)">
                <i class="fa fa-edit"></i>
            </a>
        </div>

    </div>
</template>
<template id="blog_info">
    <div>
        <div id="info_title">
            <div class="info_blogger">
                <a>
                    <img v-if="bloginfo.mLabUser.head_img =='default'" th:src="@{/image/defaulthead.jpg}" class="circle">
                    <img v-else :src="bloginfo.mLabUser.head_img" class="circle">
                </a>
                <div>
                    <h4>{{bloginfo.mLabUser.name}}</h4>
                    <a class="btn btn-default">关注</a>
                </div>
            </div>
            <h3>{{bloginfo.title}}</h3>
            <ul>
                <li><i class="fa fa-clock-o"></i>{{bloginfo.blogged_time | dateformat}}</li>
                <li><i class="fa fa-thumbs-o-up"></i>{{bloginfo.likes}}</li>
                <li><i class="fa fa-eye"></i>{{bloginfo.views}}</li>
                <li><i class="fa fa-commenting"></i>{{bloginfo.comments}}</li>
            </ul>
        </div>
        <div id="info_nav">
            <ul>
                <li><a @click.prevent="toIndex"><i class="fa fa-home"></i> [[${plateName}]]</a></li>
                <li>/</li>
                <li>正文</li>
            </ul>
            <ul>
                <li><a class="tooltip-goal" title="复制链接" data-toggle="tooltip" data-placement="top"><i class="fa fa-link"></i></a></li>
                <li>/</li>
                <li><a class="tooltip-goal" title="生成分享图" data-toggle="tooltip" data-placement="top"><i class="fa fa-camera"></i></a></li>
                <li>/</li>
                <li><a class="tooltip-goal" title="分享到微博" data-toggle="tooltip" data-placement="top"><i class="fa fa-weibo"></i></a></li>
                <li>/</li>
                <li><a class="tooltip-goal" title="分享到微信" data-toggle="tooltip" data-placement="top"><i class="fa fa-wechat"></i></a></li>
                <li>分享到:</li>
            </ul>
        </div>
        <div id="info_content">
            <div v-html="bloginfo.content"></div>
            <div class="info_tags">
                <span class="label label-default">乱七八糟</span>
                <span class="label label-default">label label-default</span>
                <span class="label label-default">乱七八糟</span>
                <span class="label label-default">乱七七八八糟</span>
                <span class="label label-default">乱七八糟</span>
                <span class="label label-default">乱七七八八糟</span>
                <span class="label label-default">乱七八糟</span>
                <span class="label label-default">乱七八七八糟</span>
            </div>
            <div class="info_footer">
                <a><i class="fa fa-clock-o"></i> 最后修改：{{bloginfo.revised_time | dateformat}}</a>
                <a class="tooltip-goal" title="若转载请联系作者获得授权，并注明地址，未经授权不得转载" data-toggle="tooltip" data-placement="top">© 著作权归作者所有</a>
            </div>
        </div>
        <blog-comment></blog-comment>
        <div id="info_btns">
            <ul>
                <li><a><i class="fa fa-thumbs-o-up"></i>{{bloginfo.likes}}</a></li>
                <li><a><i class="fa fa-commenting-o"></i></a></li>
                <li><a><i class="fa fa-star-o"></i></a></li>
                <li><a><i class="fa fa-space-shuttle fa-rotate-270"></i></a></li>
            </ul>
        </div>
    </div>
</template>
<template id="blog_comment">
    <div id="info_comment">
        <div class="comment_edit">
            <img th:src="@{/image/ballad.jpg}" class="circle">
            <textarea @focus="editfocus" @blur="editblur" class="form-control"></textarea>
            <input type="image" class="emoji_btn comment_emoji" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZBAMAAAA2x5hQAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURUxpcfTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAOfx6yUAAAALdFJOUwAzbVQOoYrzwdwkAoU+0gAAAM1JREFUGNN9kK0PQWEUxl8fM24iCYopwi0muuVuzGyKwATFZpJIU01RUG/RBMnHxfz+Oef9uNM84d1+23nO+zxHKVG2WWupRJkdcAwtpCK0lpbqWE01pB0QayonREMoIp7AawQrWSgGGb4pn6dSeSh68FAVXqHqy3wKrkJiDGDTg3dnp//w+WnwlwIOJauF+C7sXRVfdha4O4oIJfTbtdSxs2uqhs585A0ko8iLTMEcDE1n65A+29pYAlr72nz9dKu7GuNTcsL2fDQzB/wCPVJ69nZGb3gAAAAASUVORK5CYII=">
            <a class="btn btn-success btn-sm">发送</a>
        </div>
        <h3>0条评论</h3>
        <div class="comment_item row">
            <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <b>user</b>
                        <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                        <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                        <ul>
                            <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                            <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <b>user</b>
                                <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                                <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                                <ul>
                                    <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                                    <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_item row">
            <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <b>user</b>
                        <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                        <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                        <ul>
                            <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                            <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <b>user</b>
                                <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                                <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                                <ul>
                                    <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                                    <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_item row">
            <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <b>user</b>
                        <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                        <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                        <ul>
                            <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                            <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <b>user</b>
                                <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                                <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                                <ul>
                                    <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                                    <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_item row">
            <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <b>user</b>
                        <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                        <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                        <ul>
                            <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                            <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <b>user</b>
                                <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                                <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                                <ul>
                                    <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                                    <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_item row">
            <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <b>user</b>
                        <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                        <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                        <ul>
                            <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                            <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-1"><img class="circle" th:src="@{/image/ballad.jpg}"></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <b>user</b>
                                <p>你好，不知能否和以前的api一样支持一下跨域请求呢？我的个人博客音乐是用的大佬您的接口，现在不支持跨域博客音乐用不了了。</p>
                                <small><i class="fa fa-clock-o"></i>2019/6/7 上午2:44</small>
                                <ul>
                                    <li><a class="btn btn-danger btn-xs"><i class="fa fa-thumbs-up"></i> 0</a></li>
                                    <li><a @click="toggleComment" class="btn btn-info btn-xs">回复</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="../static/plugins/dragcolor/js/modernizr.custom.js"
        th:src="@{/plugins/dragcolor/js/modernizr.custom.js}"></script>
<script src="../static/plugins/dragcolor/js/classie.js"
        th:src="@{/plugins/dragcolor/js/classie.js}"></script>
<script src="../static/plugins/dragcolor/js/interact-1.2.4.min.js"
        th:src="@{/plugins/dragcolor/js/interact-1.2.4.min.js}"></script>
<script src="../static/plugins/dragcolor/js/main.js"
        th:src="@{/plugins/dragcolor/js/main.js}"></script>
</body>

</html>