<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="total_package"></div>
    <link rel="stylesheet" th:href="@{/plugins/jquery/css/jquery.mCustomScrollbar.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/jqueryemoji/css/jquery.emoji.css}"/>
    <link rel="stylesheet"  th:href="@{/plugins/dragcolor/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/custom/css/blog_index.css}">
    <script th:src="@{/plugins/wangEditor/js/wangEditor.min.js}"></script>
    <script th:src="@{/plugins/jquery/js/jquery.mCustomScrollbar.min.js}"></script>
    <script th:src="@{/plugins/jqueryemoji/js/jquery.emoji.min.js}"></script>
    <script th:src="@{/custom/js/blog_index.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="page_container">
            <!--导航栏-->
            <div th:replace="nav::myNav2"></div>
<!--            页面内容-->
            <div class="page_content">
<!--                左菜单栏-->
                <div class="left_menu paint-area">
                    <div class="scroll_info">
                        <div class="user_header">
                            <img class="circle" th:src="@{/image/ballad.jpg}">
                            <h4>
                                <a><b>林桦升<i class="fa fa-caret-down"></i></b></a>
                                <br/><small>哈哈哈啊哈</small>
                            </h4>
                        </div>
                        <div class="left_menu_nav">
                            <p>导航</p>
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-home"></i>首页</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-music"></i>音乐播放</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-image"></i>我的相册</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i>我的收藏</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>我的赞</a></li>
                            </ul>
                        </div>
                        <div class="left_menu_nav">
                            <P>组成</P>
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-comments"></i>板块<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-file"></i>页面<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-link"></i>友链<i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom_info">
                        <div class="col-md-4"><i class="fa fa-gears"></i><br/>管理</div>
                        <div class="col-md-4"><i class="fa fa-commenting"></i><br/>评论</div>
                        <div class="col-md-4"><i class="fa fa-share"></i><br/>分享</div>
                    </div>
                </div>
<!--                博客显示板块-->
                <div class="blog_content">
<!--                    文本编辑区-->
                    <!--<div class="myeditor">
                        <div id="editor_area">
                            <p>这里可以写下自己的心情</p>
                            <p><b>&#45;&#45;MusicLab</b></p>
                        </div>
                        <div id="toolbar" class="toolbar"></div>
                    </div>-->
<!--                    板块信息-->
                    <div class="plate">
                        <div class="plateinfo">
                            <h1>摇滚</h1>
                            <ul>
                                <li><h3>0</h3>博客</li>
                                <li><p>|</p></li>
                                <li><h3>0</h3>评论</li>
                                <li><p>|</p></li>
                                <li><h3>0</h3>新鲜事</li>
                            </ul>
                        </div>
                        <div class="blurfilter"></div>
                    </div>
                    <div class="paint-area">
                        <div class="blog_option paint-area">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜索">
                                <span class="input-group-addon">
                                    <a><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                            <ul>
                                <li class="mybtn_active">全部</li>
                                <li>原创</li>
                                <li>视频</li>
                                <li>图片</li>
                                <li>音乐</li>
                            </ul>
                        </div>
                        <div class="blog_item paint-area">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <h3 class="paint-area paint-area--text">这个是标题</h3>
                            <a href="javascript:void(0)"><i class="fa fa-chevron-down"></i></a>
                            <p class="paint-area paint-area--text">这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容...</p>
                            <div class="blog_item_info">
                                <a href="javascript:void(0)"><i class="fa fa-clock-o"></i>2019年05月1日</a>
                                <a href="javascript:void(0)"><i class="fa fa-star"></i>收藏</a>
                                <a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-external-link"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-eye"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-commenting"></i>0</a>
                            </div>
                        </div>
                        <div class="blog_item paint-area">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <h3 class="paint-area paint-area--text">这个是标题</h3>
                            <a href="javascript:void(0)"><i class="fa fa-chevron-down"></i></a>
                            <p class="paint-area paint-area--text">这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容...</p>
                            <div class="blog_item_info">
                                <a href="javascript:void(0)"><i class="fa fa-clock-o"></i>2019年05月1日</a>
                                <a href="javascript:void(0)"><i class="fa fa-star"></i>收藏</a>
                                <a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-external-link"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-eye"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-commenting"></i>0</a>
                            </div>
                        </div>
                        <div class="blog_item paint-area">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <h3 class="paint-area paint-area--text">这个是标题</h3>
                            <a href="javascript:void(0)"><i class="fa fa-chevron-down"></i></a>
                            <p class="paint-area paint-area--text">这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容...</p>
                            <div class="blog_item_info">
                                <a href="javascript:void(0)"><i class="fa fa-clock-o"></i>2019年05月1日</a>
                                <a href="javascript:void(0)"><i class="fa fa-star"></i>收藏</a>
                                <a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-external-link"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-eye"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-commenting"></i>0</a>
                            </div>
                        </div>
                        <div class="blog_item paint-area">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <h3 class="paint-area paint-area--text">这个是标题</h3>
                            <a href="javascript:void(0)"><i class="fa fa-chevron-down"></i></a>
                            <p class="paint-area paint-area--text">这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容...</p>
                            <div class="blog_item_info">
                                <a href="javascript:void(0)"><i class="fa fa-clock-o"></i>2019年05月1日</a>
                                <a href="javascript:void(0)"><i class="fa fa-star"></i>收藏</a>
                                <a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-external-link"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-eye"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-commenting"></i>0</a>
                            </div>
                        </div>
                        <div class="blog_item paint-area">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <h3 class="paint-area paint-area--text">这个是标题</h3>
                            <a href="javascript:void(0)"><i class="fa fa-chevron-down"></i></a>
                            <p class="paint-area paint-area--text">这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容这个是内容...</p>
                            <div class="blog_item_info">
                                <a href="javascript:void(0)"><i class="fa fa-clock-o"></i>2019年05月1日</a>
                                <a href="javascript:void(0)"><i class="fa fa-star"></i>收藏</a>
                                <a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-external-link"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-eye"></i>0</a>
                                <a href="javascript:void(0)"><i class="fa fa-commenting"></i>0</a>
                            </div>
                        </div>
                        <div class="pagenav">
                            <ul class="pagination">
                                <li>
                                    <a href="#">
                                        <span><i class="fa fa-angle-double-left"></i></span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#">
                                        <span><i class="fa fa-angle-double-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
<!--                右菜单栏-->
                <div class="right_nav paint-area">
                    <div class="col-md-4 paint-area mybtn_active"><i class="fa fa-fire"></i></div>
                    <div class="col-md-4 paint-area"><i class="fa fa-feed"></i></div>
                    <div class="col-md-4 paint-area"><i class="fa fa-random"></i></div>
                    <div class="blog_nav_item col-md-12">
                        <h4>热门博客</h4>
                        <div class="row">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <div class="col-md-8">
                                <p class="paint-area paint-area--text">这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题</p>
                                <i class="fa fa-eye"></i><small>0</small>
                            </div>
                        </div>
                        <div class="row">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <div class="col-md-8">
                                <p class="paint-area paint-area--text">这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题</p>
                                <i class="fa fa-eye"></i><small>0</small>
                            </div>
                        </div>
                        <div class="row">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <div class="col-md-8">
                                <p class="paint-area paint-area--text">这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题</p>
                                <i class="fa fa-eye"></i><small>0</small>
                            </div>
                        </div>
                        <div class="row">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <div class="col-md-8">
                                <p class="paint-area paint-area--text">这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题</p>
                                <i class="fa fa-eye"></i><small>0</small>
                            </div>
                        </div>
                        <div class="row">
                            <img th:src="@{/image/ballad.jpg}" class="circle">
                            <div class="col-md-8">
                                <p class="paint-area paint-area--text">这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题</p>
                                <i class="fa fa-eye"></i><small>0</small>
                            </div>
                        </div>
                    </div>
                    <div class="myblog_count col-md-12">
                        <h4>我的博客</h4>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default paint-area"><i class="fa fa-file">  博客数目</i><span class="badge">0</span></button>
                            <button type="button" class="btn btn-default paint-area"><i class="fa fa-comment">  评论数目</i><span class="badge">0</span></button>
                            <button type="button" class="btn btn-default paint-area"><i class="fa fa-registered">  注册天数</i><span class="badge">3年21天</span></button>
                            <button type="button" class="btn btn-default paint-area"><i class="fa fa-desktop">  最近登陆</i><span class="badge">3天前</span></button>
                        </div>
                    </div>
<!--                    TODO:这里放一个小的随机播放器-->
                    <div class="blogtags col-md-12">
                        <h4>板块下的标签</h4>
                        <span class="label label-default">乱七八糟</span>
                        <span class="label label-default">label label-default</span>
                        <span class="label label-default">乱七八糟</span>
                        <span class="label label-default">乱七七八八糟</span>
                        <span class="label label-default">乱七八糟</span>
                        <span class="label label-default">乱七七八八糟</span>
                        <span class="label label-default">乱七八糟</span>
                        <span class="label label-default">乱七八七八糟</span>
                    </div>
                </div>
                <div class="footer_info paint-area">
                    <p>© 2019 Copyright BY LinHuaSheng</p>
                    <p>备案: 粤ICP备18046160号 Powered by LinHuaSheng | Theme by LinHuaSheng</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--油画工具-->
<div class="customizer fade">
    <ul class="color-tool">
        <li class="color-1"><div class="drag-element" data-color="#333"><div class="drop color-1"></div><i class="drop-helper-1 color-1"></i><i class="drop-helper-2 color-1"></i><i class="drop-helper-3 color-1"></i><i class="drop-helper-4 color-1"></i></div></li>
        <li class="color-2"><div class="drag-element" data-color="#f0f0f0"><div class="drop color-2"></div><i class="drop-helper-1 color-2"></i><i class="drop-helper-2 color-2"></i><i class="drop-helper-3 color-2"></i><i class="drop-helper-4 color-2"></i></div></li>
        <li class="color-3"><div class="drag-element" data-color="#c0c3d5"><div class="drop color-3"></div><i class="drop-helper-1 color-3"></i><i class="drop-helper-2 color-3"></i><i class="drop-helper-3 color-3"></i><i class="drop-helper-4 color-3"></i></div></li>
        <li class="color-4"><div class="drag-element" data-color="#5FA1E0"><div class="drop color-4"></div><i class="drop-helper-1 color-4"></i><i class="drop-helper-2 color-4"></i><i class="drop-helper-3 color-4"></i><i class="drop-helper-4 color-4"></i></div></li>
        <li class="color-5"><div class="drag-element" data-color="#C1D5C0"><div class="drop color-5"></div><i class="drop-helper-1 color-5"></i><i class="drop-helper-2 color-5"></i><i class="drop-helper-3 color-5"></i><i class="drop-helper-4 color-5"></i></div></li>
        <li class="color-6"><div class="drag-element" data-color="#47AE73"><div class="drop color-6"></div><i class="drop-helper-1 color-6"></i><i class="drop-helper-2 color-6"></i><i class="drop-helper-3 color-6"></i><i class="drop-helper-4 color-6"></i></div></li>
        <li class="color-7"><div class="drag-element" data-color="#EAE7C4"><div class="drop color-7"></div><i class="drop-helper-1 color-7"></i><i class="drop-helper-2 color-7"></i><i class="drop-helper-3 color-7"></i><i class="drop-helper-4 color-7"></i></div></li>
        <li class="color-8"><div class="drag-element" data-color="#FB6964"><div class="drop color-8"></div><i class="drop-helper-1 color-8"></i><i class="drop-helper-2 color-8"></i><i class="drop-helper-3 color-8"></i><i class="drop-helper-4 color-8"></i></div></li>
        <li><button class="reset-button" title="Reser colors">Reset colors</button></li>
    </ul>
</div>
<script th:src="@{/plugins/dragcolor/js/modernizr.custom.js}"></script>
<script th:src="@{/plugins/dragcolor/js/classie.js}"></script>
<script th:src="@{/plugins/dragcolor/js/interact-1.2.4.min.js}"></script>
<script th:src="@{/plugins/dragcolor/js/main.js}"></script>
</body>

</html>