<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navform">

    <!--登陆注册表单begin-->
    <div class="modal fade" id="regitser_modal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h3 class="modal-title">Register</h3>
                </div>
                <div class="modal-body">
                    <form class="form-group-sm" id="register_form" action="registerUser" method="post">
                        <div class="form-group">
                            <label class="control-label">用户名</label>
                            <input @blur="checkRepeat" v-model="name" class="form-control" id="name" name="name" type="text"
                                   placeholder="由4-14个英文数字下划线组成，第一位不为数字,汉字最多为7个">
                        </div>
                        <div class="form-group">
                            <label class="control-label">邮箱</label>
                            <input @blur="checkRepeat" v-model="email" class="form-control" id="email" name="email" type="text" placeholder="你的邮箱">
                        </div>
                        <div class="form-group">
                            <label class="control-label">密码</label>
                            <input @blur="checkRepeat" v-model="pwd" class="form-control" id="r_pwd" name="pwd" type="password"
                                   placeholder="8-20个由英文或数字组成的字符">
                        </div>
                        <div class="form-group">
                            <input @blur="checkPassword" v-model="checkpwd" class="form-control" id="checkpwd" name="checkpwd" type="password" placeholder="再输一次密码">
                        </div>
                        <div class="form-group">
                            <label class="control-label">生日</label>
                            <input v-model="birthday" class="form-control" id="birthday" name="birthday" type="date" placeholder="生日">
                        </div>
                        <div class="form-group">
                            <label class="control-label">手机号</label>
                            <input @blur="checkRepeat" v-model="phone" class="form-control" id="phone" name="phone" type="text"
                                   placeholder="11位数字">
                        </div>
                        <div class="form-group">
                            <button @click="sendCode" type="button" id="post_pcode" class="btn btn-info">
                                发送验证码
                            </button>
                            <input v-model="phone_code" type="text" class="form-control" id="phone_code" name="phone_code" placeholder="手机验证码">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login_modal"
                            data-dismiss="modal">
                        <span class="fa fa-exchange"></span>
                    </button>
                    <input type="button" @click="register" class="btn btn-default" value="注册" id="regitser">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login_modal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h3 class="modal-title">LOGIN</h3>
                </div>
                <div class="modal-body">
                    <form class="form-group-lg" id="login_form" method="post">
                        <div class="form-group">
                            <label class="control-label">账号</label>
                            <input  v-model="account" class="form-control" id="account" name="account" type="text" placeholder="你的用户名/手机号/邮箱">
                        </div>
                        <div class="form-group">
                            <label class="control-label">密码</label>
                            <input v-model="l_pwd" class="form-control"  id="l_pwd" name="pwd" type="password"
                                   placeholder="8-20个由英文或数字组成的字符">
                        </div>
                        <input type="hidden" class="slidecode" name="slidecode">
                    </form>
                        <div id="slidecode"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#regitser_modal"
                            data-dismiss="modal">
                        <span class="fa fa-exchange"></span>
                    </button>
                    <input type="button" @click="login" class="btn btn-default" value="登陆" id="login">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--登陆注册表单end-->
</div>
<div id="myNav2" th:fragment="myNav2">
    <a class="home_log" href="index.html" th:href="@{/index}"><i class="fa fa-home"></i>  MusicLab</a>
    <div class="input-group">
        <input v-model="allKey" type="text" id="all_text" class="form-control" placeholder="输入关键词搜索...">
        <span @click="allSearch" class="input-group-addon"><a href="javascript:void(0)" id="all_search"><i class="fa fa-search"></i></a></span>
    </div>
    <ul>
        <li><a href="javascript:void(0)"><i class="fa fa-headphones"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-bell-o"></i></a></li>
        <li>|</li>
        <li><a href="javascript:void(0)"><i class="fa fa-user-o"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-cog"></i></a></li>
        <li><a @click="togglePalette" href="javascript:void(0)"><i class="fa fa-paint-brush"></i></a></li>
        <li><a class="editbtn" @click="toggleEdit" href="javascript:void(0)"><i class="fa fa-edit"></i></a></li>
    </ul>
</div>
</html>